@charset "ISO-8859-1";

*{

   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body {
    
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
}

#form{
	
	display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: orange;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 65px;
}

.gruppo-reg {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    
}

.gruppo-scacvv{

    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    display: flex;
    
}

.gruppo-scacvv label{

    display: block;
    margin-bottom: 5px;
}

.gruppo-scacvv input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#scadenza{

    margin-bottom: 15px;
    text-align: left;
    width: 60%;
    

}

#cvv{

    margin-bottom: 15px;
    text-align: left;
    width: 30%;
    margin-left: 30px;
}

.gruppo-nomcogn{

    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    display: flex;
    
}

.gruppo-nomcogn label{

    display: block;
    margin-bottom: 5px;
}

.gruppo-nomcogn input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#nome{

    margin-bottom: 15px;
    text-align: left;
    width: 50%;
}

#cognome{

    margin-bottom: 15px;
    text-align: left;
    width: 50%;
    margin-left: 30px;
}




.gruppo-reg label {
    display: block;
    margin-bottom: 5px;
}

.gruppo-reg input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ffffffab;
}

/* Media query per dispositivi mobili */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        width: 80%;
    }

}