@charset "ISO-8859-1";

*{
 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#diritti {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.633);
    height: 50px;
    margin: 0;
}

#diritti p{

    padding-top: 16px;
    margin-top: 12rem;
}