@charset "ISO-8859-1";

*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
  margin: 0;
  padding: 0; 
  background-color: #ffffff;
  
}

.nome{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-carrello{
  width: 80%;
  height: auto;
  background-color: orange;
  border-radius: 20px;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.30);
  margin: 40px 0;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-left: 10%;
  margin-bottom: 350px;
}

.titolo{
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}

.cancella-articoli{
  font-size: 20px;
  font-weight: 600;
  color: #ff0000;
  cursor: pointer;
  border-bottom: 1px solid #ff0000;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  accent-color: #fff;

}

.articoli-carrello{
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;

}

.box-immagine{
  text-align: center;
  width: 20%;
  height: 100%;
}

.immagine-prodotto{
  height: 100px;
}

.info-prodotto{
  height: 100%;
}

.titolo-prodotto{
  padding-top: 5px;
  line-height: 10px;
  font-size: 25px;
  font-weight: 800;
  color: #000000;
}

.dettagli{
  line-height: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.quantita{
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.btn{
  width: 28px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  color: #202020;
  cursor: pointer;

} 

.contatore{
  font-size: 19px;
  font-weight: 920;
  color: #000000;
}

.prezzo{
  height: 100%;
  text-align: right;
 }

.ammontare{
  padding-top: 20px;
  font-size: 26px;
  font-weight: 800;
  color: #000000;
}

.rimuovi{
  padding-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #ff0000;
  cursor: pointer;
}

hr{
  width: 66%;
  float: right;
  margin-right: 5%;
}

.checkout{
  text-align: left;
  float: right;
  margin-right: 5%;
  width: 28%;
  margin-bottom: 1%;
}

.totale{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subtotale{
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}

.n_articoli{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 10px;
}

.costo-totale{
  font-size: 36px;
  font-weight: 900;
  color: #000000;
}

.pulsante{
  margin-top: 5px;
  width: 30%;
  height: 40px;
  border: none;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-left: 420px;
}

.img-h3{
  width: 45px;
  height: 35px;
  margin: 0 auto;
}

.img-h5{
  width: 16px;
  height: 16px;
  margin: 0 auto;
}

button:hover {
  background-color: #ffffffab;
}


@media (max-width: 700px) {
  .container-carrello {
    width: 90%;
    margin-left: 25px;
  }
  
  .pulsante{

  margin-left: 140px;
}

  .articoli-carrello {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
  }

  .box-immagine, .info-prodotto, .prezzo {
    width: 100%;
    text-align: center;
  }

  .titolo {
    font-size: 24px;
  }

  .cancella-articoli {
    font-size: 16px;
  }

  .titolo-prodotto {
    font-size: 20px;
  }

  .dettagli {
    font-size: 16px;
  }

  .ammontare {
    font-size: 20px;
  }

  .rimuovi {
    font-size: 12px;
  }

  .checkout {
    width: 100%;
    margin-right: 0;
  }

  .subtotale {
    font-size: 18px;
  }

  .costo-totale {
    font-size: 28px;
  }

  .pulsante {
    height: 50px;
    font-size: 14px;
  }

  hr {
    width: 90%;
    margin-right: 0;
  }

  .quantita{
    width: 30%;
  }
}

@media (min-width: 701px) and (max-width: 1200px) {
  .container-carrello {
    width: 80%;
   
  }

  .articoli-carrello {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4%;
  }
  
   .pulsante{

  margin-left: 310px;
}

  .box-immagine, .info-prodotto, .prezzo {
    width: 100%;
    text-align: center;
  }

  .titolo {
    font-size: 28px;
  }

  .cancella-articoli {
    font-size: 18px;
  }

  .titolo-prodotto {
    font-size: 22px;
  }

  .dettagli {
    font-size: 17px;
  }

  .ammontare {
    font-size: 24px;
  }

  .rimuovi {
    font-size: 13px;
  }

  .checkout {
    width: 100%;
    margin-right: 0;
  }

  .subtotale {
    font-size: 20px;
  }

  .costo-totale {
    font-size: 32px;
  }

  .pulsante {
    height: 45px;
    font-size: 15px;
  }

  hr {
    width: 80%;
    margin-right: 0;
  }

  .quantita{
    width: 20%;
  } 
}