body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.search-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

#searchBarOrders, #searchBarUsers {
    flex: 9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#startDateOrders, #endDateOrders, #startDateUsers, #endDateUsers {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#searchBarOrders:focus, #searchBarUsers:focus, #startDateOrders:focus, #endDateOrders:focus, #startDateUsers:focus, #endDateUsers:focus {
    border-color: #000000;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }

    #searchBarOrders, #searchBarUsers {
        flex: 1;
        margin-bottom: 10px;
    }

    .date {
        display: flex;
        gap: 10px;
    }

    #startDateOrders, #endDateOrders, #startDateUsers, #endDateUsers {
        flex: 1;
        width: 100%;
        margin-left: 0;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: right;
        padding-left: 30%;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    table, th, td {
        border: 1px solid #ddd;
    }
}

